.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row-head {
  display: flex;
  flex-wrap: wrap;
}

.img-row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: black;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 15em;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: black;
}

.column-half {
  flex-direction: row;
}

.column-full,
.column-half {
  width: 90%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    width: 50%;
  }

  .button-row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20em;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: black;
  }
}
