body {
  background-color: #222831;
}

.hidden {
  display: none !important;
}

.head-container {
  background-color: #f05454;
}

#views {
  margin-left: 2rem;
  margin-top: 2rem;
  padding: 5px;
  background-color: #30475e;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 3rem;
  width: 10rem;
  font-family: 'Proza Libre', sans-serif;
  font-size: 1rem;
  color: #fff;
}

.no-reviews,
.no-ratings {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  font-family: 'Proza Libre', sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 100;
}

.main-icon,
.user {
  display: flex;
  align-content: center;
  margin-top: 1.5rem;
  font-size: 2rem;
  margin-right: 2rem;
  color: white;
}

.title {
  font-family: 'Proza Libre', sans-serif;
  color: white;
  font-weight: 400;
  margin-left: 1rem;
}

.chevron {
  color: white;
  font-size: 2rem;
  font-weight: lighter;
}

.star {
  color: white;
  font-size: 1.7rem;
}

.pen {
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
}

.modal-star {
  color: #f05454;
  padding: 0.5rem;
  font-size: 2rem;
}

.star-row {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.overlay-review,
.overlay {
  background-color: rgba(83, 83, 83, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.rate-modal {
  background-color: #222831;
  max-width: 100%;
  height: 15em;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.review-modal {
  background-color: #222831;
  max-width: 100%;
  height: 23em;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.title-area {
  height: 2rem;
}

.input-area {
  border-style: none;
  border-radius: 5px;
  width: 90%;
  margin-bottom: 1rem;
  background-color: #30475e;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 0.5rem;
}

.h3-review {
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
  font-family: 'Proza Libre', sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 100;
}

.arrow {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #30475e;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 3rem;
  width: 7rem;
}

.rate {
  background-color: #30475e;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.review {
  background-color: #30475e;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 3rem;
  width: 3rem;
}

.modal-button-row {
  display: flex;
  justify-content: space-between;
}

.review-button-row {
  display: flex;
  justify-content: space-between;
}

.modal-button {
  background-color: #30475e;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 3rem;
  width: 9rem;
  font-family: 'Proza Libre', sans-serif;
  font-size: 1rem;
  color: #f05454;
}

.review-button {
  background-color: #30475e;
  border-style: none;
  border-radius: 5px;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 3rem;
  width: 9rem;
  font-family: 'Proza Libre', sans-serif;
  font-size: 1rem;
  color: #f05454;
}

::placeholder {
  font-family: 'Proza Libre', sans-serif;
  font-size: 1rem;
  color: #f05454;
  opacity: inherit;
}

.rate-review-row {
  display: flex;
  justify-content: flex-end;
}

.arrow:hover {
  cursor: pointer;
}

.rate:hover {
  cursor: pointer;
}

.modal-button:hover {
  cursor: pointer;
}

.review:hover {
  cursor: pointer;
}

.review-button:hover {
  cursor: pointer;
}

.user:hover {
  cursor: pointer;
}

.main-icon:hover {
  cursor: pointer;
}
